<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>combo_awesome.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{294,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,82}}</string>
                <key>sourceSize</key>
                <string>{294,82}</string>
            </dict>
            <key>combo_cool.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{134,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,81}}</string>
                <key>sourceSize</key>
                <string>{134,81}</string>
            </dict>
            <key>combo_fantastic.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{214,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,84}}</string>
                <key>sourceSize</key>
                <string>{214,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>combo.png</string>
            <key>size</key>
            <string>{650,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b197a302da53ed073e599ba9636af02e:4d63662803aea69210561c94ae3e8d7d:7248a9d17dd4c240741839555f12035c$</string>
            <key>textureFileName</key>
            <string>combo.png</string>
        </dict>
    </dict>
</plist>
