<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>home_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{417,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,434}}</string>
                <key>sourceSize</key>
                <string>{417,434}</string>
            </dict>
            <key>menu_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,964},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>menu_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{281,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,111}}</string>
                <key>sourceSize</key>
                <string>{281,111}</string>
            </dict>
            <key>menu_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1400},{281,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,111}}</string>
                <key>sourceSize</key>
                <string>{281,111}</string>
            </dict>
            <key>menu_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1513},{281,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,111}}</string>
                <key>sourceSize</key>
                <string>{281,111}</string>
            </dict>
            <key>menu_volume_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1513},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
            <key>menu_volume_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1513},{112,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,115}}</string>
                <key>sourceSize</key>
                <string>{112,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>front_page.png</string>
            <key>size</key>
            <string>{644,1630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba1f518fc64adb8ceca0584ca68751cf:17eda761ddfcaef3fbde0a95c414b02f:3553fdbba4a95bec5fb6ca7499036e33$</string>
            <key>textureFileName</key>
            <string>front_page.png</string>
        </dict>
    </dict>
</plist>
