<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,108}}</string>
                <key>sourceSize</key>
                <string>{238,108}</string>
            </dict>
            <key>go_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,108}}</string>
                <key>sourceSize</key>
                <string>{238,108}</string>
            </dict>
            <key>stop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{581,395}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,395}}</string>
                <key>sourceSize</key>
                <string>{581,395}</string>
            </dict>
            <key>stop_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,2},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>stop_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{458,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,117}}</string>
                <key>sourceSize</key>
                <string>{458,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pause.png</string>
            <key>size</key>
            <string>{1684,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7677f0387d6a9622764f5ea28dd22a18:efa5e2cefae836a053896ecfd1f8330a:9d555fb46495a0909062f51d92a17153$</string>
            <key>textureFileName</key>
            <string>pause.png</string>
        </dict>
    </dict>
</plist>
