<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,2},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>cny_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{124,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,59}}</string>
                <key>sourceSize</key>
                <string>{124,59}</string>
            </dict>
            <key>cny_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{124,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,59}}</string>
                <key>sourceSize</key>
                <string>{124,59}</string>
            </dict>
            <key>cny_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{124,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,59}}</string>
                <key>sourceSize</key>
                <string>{124,59}</string>
            </dict>
            <key>cny_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{124,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,59}}</string>
                <key>sourceSize</key>
                <string>{124,59}</string>
            </dict>
            <key>cny_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{124,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,59}}</string>
                <key>sourceSize</key>
                <string>{124,59}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{602,687}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{602,687}}</string>
                <key>sourceSize</key>
                <string>{602,687}</string>
            </dict>
            <key>shop_headbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,63},{454,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,119}}</string>
                <key>sourceSize</key>
                <string>{454,119}</string>
            </dict>
            <key>shop_listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{479,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,91}}</string>
                <key>sourceSize</key>
                <string>{479,91}</string>
            </dict>
            <key>zheng_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>zuan_ico.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,39}}</string>
                <key>sourceSize</key>
                <string>{44,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{671,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:978ef30514c0cd778b34d3dd38647b08:5c5a357e470276a7d2298338ced9c56e:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
