<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{192,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,99}}</string>
                <key>sourceSize</key>
                <string>{192,99}</string>
            </dict>
            <key>close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>coumbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{73,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,39}}</string>
                <key>sourceSize</key>
                <string>{73,39}</string>
            </dict>
            <key>jxtg.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{198,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,100}}</string>
                <key>sourceSize</key>
                <string>{198,100}</string>
            </dict>
            <key>jxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{264,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,38}}</string>
                <key>sourceSize</key>
                <string>{264,38}</string>
            </dict>
            <key>lig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{1100,1100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1100,1100}}</string>
                <key>sourceSize</key>
                <string>{1100,1100}</string>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{462,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,270}}</string>
                <key>sourceSize</key>
                <string>{462,270}</string>
            </dict>
            <key>lose_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,261},{595,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{595,477}}</string>
                <key>sourceSize</key>
                <string>{595,477}</string>
            </dict>
            <key>next_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{192,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,99}}</string>
                <key>sourceSize</key>
                <string>{192,99}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{452,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,257}}</string>
                <key>sourceSize</key>
                <string>{452,257}</string>
            </dict>
            <key>win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,261},{591,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,399}}</string>
                <key>sourceSize</key>
                <string>{591,399}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dialog.png</string>
            <key>size</key>
            <string>{1656,1842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b5eed4a929d49a8984168c9691be2f:fac22b5bdb4076cf29a361a478405c07:c11b6a542e58cbf6e51c9f5d8ff887d2$</string>
            <key>textureFileName</key>
            <string>dialog.png</string>
        </dict>
    </dict>
</plist>
