<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>help_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{606,884}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,884}}</string>
                <key>sourceSize</key>
                <string>{606,884}</string>
            </dict>
            <key>help_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{456,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,122}}</string>
                <key>sourceSize</key>
                <string>{456,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{610,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53f7bded57e9f05713d49c6c061088bc:b08802dbd969189bcf2dc137ecb04bd7:b748d28db2ead7fdbe4aa6481e4be26c$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
