<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_mo.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>block_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,51},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coum_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{276,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,66}}</string>
                <key>sourceSize</key>
                <string>{276,66}</string>
            </dict>
            <key>cw.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,51},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>cx.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{212,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,34}}</string>
                <key>sourceSize</key>
                <string>{212,34}</string>
            </dict>
            <key>game_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{640,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,149}}</string>
                <key>sourceSize</key>
                <string>{640,149}</string>
            </dict>
            <key>gamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{76,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,33}}</string>
                <key>sourceSize</key>
                <string>{76,33}</string>
            </dict>
            <key>lszgf.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{214,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,47}}</string>
                <key>sourceSize</key>
                <string>{214,47}</string>
            </dict>
            <key>mon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{242,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,55}}</string>
                <key>sourceSize</key>
                <string>{242,55}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,51},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,117},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>traget.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,33}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{644,1316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7e98c9b870c5ef54123a0ba612c3381:fbb3f17cdf94791d00501a2f40239a2e:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
